<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Express.js</title>
</head>

<body>

    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="#section1"><%=Projects%></a></li>
            <li><a href="contact.ejs"><%=Contact%></a></li>
            <li><a href="#section3"><%=Resume%></a></li>
        </ul>
    </nav>
    <!-- Landing Page -->
    <section id="landing">
        <h1></h1>
        <p>Landing Page</p>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#273036" fill-opacity="1"
            d="M0,288L48,261.3C96,235,192,181,288,181.3C384,181,480,235,576,229.3C672,224,768,160,864,154.7C960,149,1056,203,1152,202.7C1248,203,1344,149,1392,122.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
    <!-- Section 1 -->
    <section id="section1">
        <h2><%=Projects%></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis dicta exercitationem quis rerum ipsum, accusamus iste labore omnis? Voluptatem maxime quia error in molestias ad blanditiis saepe perferendis! Reprehenderit accusamus voluptatem veritatis, provident odit perspiciatis velit in cum? Alias similique obcaecati quos reiciendis minima sequi nam natus recusandae explicabo temporibus, quo accusamus laudantium tempore cum, doloribus dicta facilis repellat voluptatibus dolorum corrupti earum nisi? Maxime cumque nesciunt nam ut veniam? Nihil laboriosam provident ad, quod facere ipsa similique in. Odit quam necessitatibus voluptate beatae? Consectetur eum expedita enim ad recusandae nostrum id, fugit ut iure, sed qui. Vero quis veritatis hic optio. Magnam quisquam necessitatibus labore ex tempora reiciendis sunt, dolorum expedita ullam sapiente omnis? Suscipit soluta, repudiandae illum et eius alias commodi? Beatae dolore nulla dolorum tempore necessitatibus culpa ex, aliquam quas dolores rem vitae. Ratione minus porro a earum aliquam. Accusamus officia a esse quis deleniti, dolor amet repellat ut alias iusto commodi veniam impedit voluptate accusantium earum praesentium quae provident ullam ipsa natus animi, omnis labore. Optio esse rem delectus eveniet minima iste, facere ea inventore incidunt sed laudantium blanditiis omnis ut quaerat, nam nemo quas repellat, deserunt animi excepturi aspernatur quis obcaecati magni exercitationem! Blanditiis.</p>
    </section>

    <!-- Section 2 -->
    <section id="section2">
        <h2><%=Contact%></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde veniam fuga a maxime alias natus tenetur, dolore, libero molestias officia eos numquam corporis quam! Fuga eaque expedita debitis, rerum sunt blanditiis. Quam exercitationem perferendis unde odio dolores ratione sit autem, vitae laudantium quisquam iste molestias odit possimus eaque id quaerat tempore assumenda. Unde amet, magni fuga suscipit, repudiandae, sit modi asperiores dolorem ducimus eligendi nulla maxime quae et. Molestiae alias enim explicabo natus voluptas. Consequuntur rerum ex tempora iste porro animi obcaecati laudantium mollitia cum veniam corporis, explicabo voluptatem natus sit hic quibusdam dolorem deserunt adipisci, fugiat accusantium dolores tenetur expedita voluptatum harum. Ducimus nobis explicabo quibusdam magnam facilis quisquam, unde porro libero, alias necessitatibus eos deserunt temporibus voluptatem sed velit dolor tempore. Nesciunt repudiandae tempore facere nostrum, incidunt corrupti obcaecati. Iste dignissimos rerum nisi debitis! Laboriosam deleniti veritatis aperiam porro magni expedita minima reiciendis nemo. Ad ullam, in id quidem magni iusto odit ratione labore sapiente. Obcaecati quo ratione vel eius ipsam nemo quisquam laboriosam accusantium voluptate cumque alias unde molestiae deserunt adipisci aut tempore vitae sequi at saepe distinctio doloremque blanditiis, odit dolor beatae. Delectus aliquam ipsam tenetur, sequi facere modi nisi, nemo, ea omnis mollitia architecto recusandae?</p>
    </section>

    <!-- Section 3 -->
    <section id="section3">
        <h2><%=Resume%></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis distinctio excepturi eum laboriosam explicabo nam odit, molestias sapiente tempore, recusandae illum voluptatem est quibusdam id nostrum voluptates maiores. Fuga incidunt quidem officiis laborum cumque ab ex consequuntur nobis soluta quibusdam? Fugiat amet cumque hic esse, quod labore mollitia delectus quidem, recusandae adipisci velit eum beatae tempore blanditiis suscipit ipsa dicta accusamus quae praesentium culpa error. Nobis, ipsum recusandae! Aspernatur nemo maxime unde quia eius sequi non numquam libero omnis tempore impedit eaque expedita vel laborum qui fuga, exercitationem magni autem minima! Dolorum totam dolores deleniti perferendis, tempore alias fugit, aliquam a, quo distinctio veniam quisquam quia omnis! Nesciunt harum explicabo soluta quisquam corrupti sequi dolor illo accusantium officiis, libero necessitatibus, nobis qui quia magni dolores pariatur, eum minima dolorum rerum. Alias deleniti aliquam modi, dolor excepturi, totam nesciunt voluptates accusamus asperiores possimus reiciendis! Maiores, tempore! Culpa magnam amet veniam, tenetur accusantium dolorem debitis blanditiis impedit inventore optio eos libero non totam at reprehenderit nobis mollitia doloribus veritatis ad illum quod perspiciatis numquam. Iure voluptates voluptatem placeat quibusdam eligendi voluptas magni quis ipsa laborum distinctio aliquid facilis possimus vitae iusto nostrum a, inventore commodi voluptatum iste illum. Tenetur unde dolorum ipsum?</p>
    </section>

    <script src="/javascripts/script.js"></script>
</body>

</html>